:root {
  --main-color: #9356dc;
  --second-color: #ff79da;
  --third-color: #99e2d0;
}

@import "../SASS/buttons.scss";
@import "../SASS/restaurants.scss";
@import "../SASS/MediaQuerries.scss";
@import "../SASS/menu-restaurants.scss";
@import "../SASS/loader.scss";
