:root {
  --main-color: #9356dc;
  --second-color: #ff79da;
  --third-color: #99e2d0;
}

@import "../SASS/exclude_me/buttons.scss";
@import "../SASS/exclude_me/restaurants.scss";
@import "../SASS/exclude_me/MediaQuerries.scss";
@import "../SASS/exclude_me/menu-restaurants.scss";
@import "../SASS/exclude_me/loader.scss";
